<!DOCTYPE html>
<html>
    <head>
        <title>Book A Meal</title>
        <link rel = "stylesheet" type = "text/css" href = "ind_style.css">
        <meta name = "viewport" content = "width=device-width, intial-scale=1.0" >
    </head>
    <body>    
        <div class = "signin">        
            <form action="home.html" method="GET">
                <fieldset>
                    <legend class = "sigin_info">Sign In</legend>
                    <div class="inputbx">
                        <input type = "email" placeholder = "Username:" required><br><br>
                        <input type = "password" placeholder = "Password:" required><br><br>
                    </div>
                    <div class="ordbtn">
                        <input type = "submit" name = "submit" value = "Sign-in">
                    </div>
                    <br><br><p class="sign_up">Don't have an account? <a href="./sign_up.html">Sign-up</a></p>
                </fieldset>
            </form>
        </div>
        
    </body>
</html>
